@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,200&display=swap");

.app {
  font-family: "Poppins", sans-serif;
}

.banner-img {
  background: url("../image/background4.jpg");
  background-size: cover;
  max-width: 100%;
  height: 600px;
}

.nav-image {
  background: url("../image/background4.jpg");
  background-size: cover;
  max-width: 100%;
  height: 150px;
}

.header-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
  margin: 20px;
}

.header-title p {
  font-size: medium;
}

.cards {
  margin-top: 50px;
}

.about p {
  padding: 20px;
}

.specials {
  margin-top: 60px;
}

.send {
  width: 100%;
}

.slides img {
  filter: blur(6px);
}

.caption h3 {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.caption h5 {
  color: #000;
  font-weight: 300;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card small {
  font-size: 15px;
}

.black-text small {
  font-size: medium;
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
}
